$char-w: 1ch;
$gap: 0.5*$char-w;
$n-char: 5;
$in-w: $n-char*($char-w + $gap);

.header {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // header__icon
  &__icon {
    max-width: 24px;
    height: 24px;
    path {
      fill: #787C7E !important;
    }
  }

  // header__brand
  .header__brand {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    color: #2d0d75;
  }


}


.input {
  display: block;
  text-transform: uppercase;
  margin: 2em auto;
  border: none;
  padding: 0;
  cursor: pointer;
  width: $in-w;
  color: rgb(45, 13, 117);
  background: repeating-linear-gradient(90deg,
  rgb(45, 13, 117) 0, rgb(45, 13, 117) $char-w,
    transparent 0, transparent $char-w + $gap) 0 100%/ #{$in-w - $gap} 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: $gap;

  &:focus {
    outline: none;
    color: rgb(45, 13, 117);
  }
}

.content {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 19px;
    right: -20px;
    outline: none;
    transition: all 0.3s;
    svg {
        path {
            fill: rgb(45, 13, 117);
        }
    }
}


.is_green {

  background: #6AAA64;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  color: #FFFFFF;
  width: 36px;
  height: 36px;
  margin: 3px;
}

.is_yellow {
  background: #C9B458;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  color: #FFFFFF;
  width: 36px;
  height: 36px;
  margin: 3px;
}

.is_gray {
  background: #787C7E;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  color: #FFFFFF;
  width: 36px;
  height: 36px;
  margin: 3px;
}

body {
    background: linear-gradient(to right, #ebebeb, #ebebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// ==============================MODALKA=====================================>

.modalka {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  &._active {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;

    & .modalka__content {
      transform: scale(1);
      transition: transform 0.5s;
      padding: 24px;
      background: #fff;
    }
  }

  &__bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .modalka__content
  &__content {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    transform: scale(0);
    transition: transform 0.5s;
    width: 100%;
    margin: 15px;
    font-family: Cera Pro;

    a {
        color: #0f2852;
        text-decoration: underline;
    }
  }

 

  // .modalka__head
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;


    div {
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        transform: rotate(90deg);
        transition: all 0.2s;
      }
    }

    h1 {
      font-family: Cera Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #0f2852;
      display: flex;
      margin: 0 auto;
      text-transform: uppercase;
    }
  }

  // .modalka__body
  &__body {
    padding: 20px;
    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }

  &__img {
    max-width: 200px;
    height: auto;
    margin: 10px auto 0;
  }
}

// ==============================MODALKA=====================================>